module.exports = {
  apps: [
    {
      name: 'ruuvi-dashboard',
      script: 'npm',
      args: 'start',
      cwd: '/home/user-name/repos/ruuvi-dashboard/',
      watch: true, // (optional)
      ignore_watch: ['node_modules', 'logs', 'server/appStorage.json'],  
    },
  ],
}
