module.exports = {
  apps: [
    {
      name: 'ruuvi-dashboard',
      script: 'npm',
      args: 'start',
      cwd: '/home/your-name/repos/ruuvionpi/',
      watch: true, // (optional)
    },
  ],
}
